.intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 984px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  @media screen and (max-width: 1024px) {
    .intro {
      max-width: 928px;
    }
  }
  @media screen and (max-width: 928px) {
    .intro {
      padding: 0 24px;
    }
  }
  @media screen and (max-width: 320px) {
    .intro {
      padding: 0 16px;
    }
  }